{% extends 'create/layout.html' %}
{% block content %}
<div class="col-md-4 offset-md-4">
    <form action="{% url 'register' %}" method="post" class="card card-body p-5" style="background-color: #121212">{% csrf_token %}
        <h4>Create User</h4>
        <label for="name" class="my-2">Name:</label>
        <input type="text" name="name" id="name" class="form-control" required>
        <label for="lastname" class="my-2">Last Name:</label>
        <input type="text" name="lastname" id="lastname" class="form-control" required>
        <button type="submit" class="btn btn-primary my-4">Create</button>
    </form>
</div>
{%endblock %}